pre {
  white-space: pre;
  word-wrap: normal;
  overflow: scroll;
}

figcaption p {
	text-align: center;
	font-family: serif;
	font-size: smaller;
}

figure.center img {
    display: block;
    margin: 0 auto;
}

figure.matrices {
	  align-content: center;
}

figure.matrices img {
    max-width: 50%;
    height: auto;
}
code.has-jax {
	font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}

div.equation {
  text-align: center;
}

p.source {
  text-align: right;
  font-size: 12px;
}

figure.left-align {
  margin-left: 0px;
}

figure.left-align img {
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}


figure.half-size img {
  max-width: 50%;
  height: auto;
}

figure.profile-pic img {
  width: auto;
  height: auto;
}
